In [3]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
model = tf.keras.models.load_model('./model/models/FFN_0.keras')
model

In [11]:
data = pd.read_csv('./data/lunar/training/data/S12_GradeA/xa.s12.00.mhz.1970-03-25HR00_evid00003.csv')
inputs = data[["time_rel(sec)","velocity(m/s)"]]
inputs

        time_rel(sec)  velocity(m/s)
0            0.000000  -5.481780e-15
1            0.150943  -6.878653e-15
2            0.301887  -7.486137e-15
3            0.452830  -7.191481e-15
4            0.603774  -6.287278e-15
...               ...            ...
572406   86400.905660   8.188906e-16
572407   86401.056604  -6.852630e-17
572408   86401.207547  -8.490759e-16
572409   86401.358491  -1.930016e-15
572410   86401.509434  -3.466622e-15

[572411 rows x 2 columns]

In [13]:
predictions = model.predict(inputs)

17888/17888 ━━━━━━━━━━━━━━━━━━━━ 9s 501us/step

In [16]:
predictions

array([[2.1743028e-06],
       [2.1767385e-06],
       [2.1794451e-06],
       ...,
       [1.3132805e-05],
       [1.3132805e-05],
       [1.3132805e-05]], dtype=float32)

In [17]:
np.max(predictions)

1.3132805e-05